{% extends "billingapp/base.html" %}
{% block content %}
    {% if bills %}
        <h2 class="page-title">All Bills</h2>
        <div class="row" id="allBills">
            {% for bill in bills %}
                <div class="card-wrapper col-md-4 col-sm-6 col-12">
                    <div class="card shadow">
                        <div class="card-body">
                            <h5 class="card-title">{{ bill.customer_name }}</h5>
                            <h6 class="card-subtitle mb-2 text-muted">{{ bill.product }}</h6>
                            <p class="card-text">
                                <b>Amount:</b> {{ bill.amount_due }} <br>
                                <b>Due Date:</b> {{ bill.due_date|date:"d F Y" }} <br>
                                <b>Bill Date:</b> {{ bill.bill_date|date:"d F Y" }}
                            </p>
                            <a href="{% url 'site-update' bill.id %}" class="btn btn-outline-theme mr-2">Edit</a>
                            <a href="{% url 'site-delete' bill.id %}" class="btn btn-outline-danger">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if is_paginated %}

            <div class="pages">
                <div class="btn-group" role="group" aria-label="Pagination">

                    {% if page_obj.has_previous %}
                        <a class="btn btn-outline-theme" href="?page=1">First</a>
                        <a class="btn btn-outline-theme" href="?page={{ page_obj.previous_page_number }}">Prev</a>
                    {% endif %}

                    {% for page in page_obj.paginator.page_range %}
                        {% if page_obj.number == page %}
                            <a class="btn btn-theme" href="?page={{ page }}">{{ page }}</a>
                        {% elif page > page_obj.number|add:-3 and page < page_obj.number|add:3 %}
                            <a class="btn btn-outline-theme" href="?page={{ page }}">{{ page }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a class="btn btn-outline-theme" href="?page={{ page_obj.next_page_number }}">Next</a>
                        <a class="btn btn-outline-theme" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
                    {% endif %}

                </div>
            </div>

        {% endif %}

    {% else %}
        <h2 class="mt-4">You Have Not Created Any Bills</h2>
        <div class="mt-3 pt-2 border-top">
            <small><a href="{% url 'site-create' %}">Create</a> your first bill</small>
        </div>
    {% endif %}
{% endblock content %}